#features{
  #design-quality{
    background-color: #f5999e;
    color: #FFF;
  }
  #build-to-last{
    background-color: #625f7e;
    color: #FFF;
  }
  #our-client{
    background: url("../images/features/our-clients.jpg");
    background-size: cover;
    color: #FFF;
  }
  #sing-up{
    background: url("../images/features/sign-up.jpg");
    background-size: cover;
    color: #FFF;
  }
  #perfect-picture{
    background-color:#82ca9c;
    color: #FFF;
  }
  a {
    color: #FFF;
    margin: 1em 0 3em;
    display: inline-block;
  }
  &:hover {
    text-decoration: underline;
  }
}
