#land {
  background: url("../images/land.jpg");
  background-size: cover;
  height: 100vh;
  background-position: 50% 50%;
  color: $light-font-color;
  border: 1px solid transparent;
  position: relative;

 header {
    margin-top: 3rem;
    i {
      font-size: 4rem;
      line-height: 4rem;
    }
    span {
      font-size: 2rem;
      line-height: 4rem;
      position: relative;
      top: -0.5rem;
      left: 1rem;
      font-style: italic;
    }
 }
 .welcome-msg {
   position: absolute;
   top:60%;
   transform: translateY(-50%);
   h1 {
     font-size: 4vw;
     font-weight: 300;
   }
   p {
     font-size: 1vw;
   }
 }
}
